/Auto.class
/Bajaj.class
/BajajL.class
/Bajajdcv.class
/Cng.class
/CommercialVehicle.class
/Electric.class
/FuelTypeBrand.class
/Lpg.class
/MiniMetro.class
/Payment.class
/PiggioC.class
/PiggioL.class
/Piggiodcv.class
/Piggiopcv.class
/PublicTransport.class
/Suzukipcv.class
/ThreeWheeler.class
/dieselp.class
/package-info.class
/petrolp.class
