/Activa.class
/Bajaj.class
/Bike.class
/Colour.class
/Ct100.class
/Cycle.class
/Electric.class
/Fueltype.class
/Hero.class
/Honda.class
/PassionPro.class
/Petrol.class
/Pulser.class
/Shine.class
/SplenderPlus.class
/TwoWheeler.class
